# === Ignore everything by default ===
*
!.gitignore
!README.md
!*assignments/
!*exams/

# === Allow only assignment folders ===
!*assignments/*/
!*exams/2025/

# === Allow code folders and contents ===
!*assignments/*/code/
!*assignments/*/code/**
!*exams/2025/*/code/
!*exams/2025/*/code/**